@font-face {
  font-family: "SF Pro Display";
  src: url("sf-pro-display-cufonfonts/SFPRODISPLAYREGULAR.OTF");
}

html {
  font-family: "SF Pro Display";
}

#section1 {
  background-color: #232340;
  color: #fff;
}

#section1 .date_section1 h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

#section2 {
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 0.0001) 0%,
    rgba(237, 229, 240, 0.504289) 100%
  );
}

#section3 {
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 0.0001) 0%,
    #ede5f0 100%
  );
}

#section4 {
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 0.0001) 0%,
    #ede5f0 100%
  );
}

.cta {
  width: 1296px;
  height: 1024px;
  left: 71px;
  top: 8578px;

  /* color/primary */

  background: #5468e7;
  border-radius: 40px;
}

.vertical_line {
  width: 1px;
  height: 511px;
  left: 719px;
  top: 9091px;
  opacity: 0.2;
}

.seta {
  background-color: #232340;
}
